.button {
  display: inline-block;
  min-width: 8rem;
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #ffbb11;
  color: #764701;
  padding: 0.8rem 1.2rem;
  transition: all 0.1s linear;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffeeaa, 0 0 0 4px #ffbb11;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}