.form {
  margin-bottom: 2rem;
  max-width: 30rem;
  padding: 1rem;
}

.perdeu {
  display: inline-block;
  color: #665;
  padding: 0.5rem 0px;
  line-height: 1;
}

.perdeu::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: currentColor;
  display: block;
}

.cadatro {
  margin-top: 4rem;
}

.cadatro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--type-segond);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: "";
  display: block;
  background-color: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}

@media (max-width: 40rem) {
  .form {
    max-width: initial;
  }
}
